// License.
.ajax-load-more {
	.alm-license {
		display: grid;
		border: 1px solid $border;
		border-radius: $radius;
		margin: 0 0 15px;
		overflow: hidden;

		&--header {
			border-bottom: 1px solid $border;
			box-shadow: 0 0 3px 1px rgba($border, 0.25);
			background-color: rgba($border, 0.15);
			padding: 10px 20px;
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: space-between;
			gap: 5px;

			h3 {
				margin: 0 !important;
				padding: 0;
				font-size: 16px;
				font-weight: 600;
			}

			a {
				display: block;
				text-decoration: none;
				padding: 2px 5px;
				margin-right: -5px;
				svg {
					width: 20px;
					height: 20px;
				}
			}
		}

		&--fields {
			display: grid;
			gap: 10px;
			padding: 20px;

			> div {
				position: relative;
			}

			label {
				font-size: 13px;
				margin: 0;
				padding: 0 2px;
				font-weight: 500;
			}

			input[type='text'],
			input[type='password'] {
				width: 100%;
				box-shadow: 0 0 3px 1px rgba($border, 0.25);
				padding: 12px;
				line-height: 1;
			}
		}

		&--actions {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			width: 100%;
			padding: 20px;
			padding-top: 0;
		}

		&--stats {
			border-top: 1px solid $border;
			background-color: rgba($border, 0.15);
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			row-gap: 10px;
			column-gap: 20px;
			font-size: 13px;
			padding: 12px 20px;

			> div {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				gap: 5px;

				span:first-child {
					font-weight: 500;
				}
			}
		}

		.alm-license-callout {
			display: grid;
			gap: 4px;
			padding: 15px 20px;
			margin: 0 0 10px;
			border: 1px solid #e0ddcd;
			background-color: #fffeeb;
			border-radius: $radius;
			&.end {
				margin: 0 !important;
				border-bottom: none;
				border-right: none;
				border-left: none;
				border-radius: 0;
			}
			h4 {
				margin: 0;
			}
			p {
				margin: 0;
				padding: 0;
			}
		}

		&-status {
			display: inline-block;
			border-radius: $radius;
			padding: 7px 12px;
			line-height: 1;
			color: #fff;
			cursor: default;
			font-weight: 400;
			font-size: 12px;
			position: absolute;
			right: 7px;
			top: 50%;
			transform: translateY(-50%);
			z-index: 5;
			&.active {
				background-color: #9ccc8a;
				box-shadow: 0 0 0 2px rgba($green, 0.2);
			}
			&.inactive {
				background-color: $red;
				box-shadow: 0 0 0 2px rgba($red, 0.2);
			}
		}
	}
}
