@import '../../../global/scss/colors';
@import '../../../global/scss/functions';

.select2-results .select2-result.alm-color .select2-result-label {
	position: relative;
}
.select2-results .select2-result.alm-color .select2-result-label::after {
	width: 14px;
	height: 14px;
	border-radius: 3px;
	content: '';
	display: block;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}
.select2-results .select2-result.alm-color .select2-result-label::after {
	border: 1px solid map-get($colors, 'default');
}
.select2-results .select2-result.alm-color.default .select2-result-label::after {
	background-color: map-get($colors, 'default');
}
.select2-results .select2-result.alm-color.dark .select2-result-label::after {
	background-color: map-get($colors, 'dark');
	border-color: map-get($colors, 'dark');
}
.select2-results .select2-result.alm-color.grey .select2-result-label::after,
.select2-results .select2-result.alm-color.is-filter.default .select2-result-label::after {
	background-color: map-get($colors, 'grey');
	border-color: map-get($colors, 'grey');
}
.select2-results .select2-result.alm-color.blue .select2-result-label::after {
	background-color: map-get($colors, 'blue');
	border-color: map-get($colors, 'blue');
}
.select2-results .select2-result.alm-color.green .select2-result-label::after {
	background-color: map-get($colors, 'green');
	border-color: map-get($colors, 'green');
}
.select2-results .select2-result.alm-color.purple .select2-result-label::after {
	background-color: map-get($colors, 'purple');
	border-color: map-get($colors, 'purple');
}
.select2-results .select2-result.alm-color.red .select2-result-label::after {
	background-color: map-get($colors, 'default');
	border-color: map-get($colors, 'default');
}

// Outline Styles
.select2-results .select2-result.alm-color.is-outline .select2-result-label::after,
.select2-results .select2-result.alm-color.white .select2-result-label::after {
	border: 1px solid map-get($colors, 'default');
	background-color: #fff;
}
.select2-results .select2-result.alm-color.white .select2-result-label::after,
.select2-results .select2-result.alm-color.white-inverse .select2-result-label::after {
	border-color: rgba(map-get($colors, 'grey'), 0.25);
}

.select2-results .select2-result.alm-color.light-grey .select2-result-label::after {
	background-color: map-get($colors, 'grey_light');
	border-color: rgba(map-get($colors, 'grey'), 0.4);
}
.select2-results .select2-result.alm-color.is-outline.dark .select2-result-label::after {
	border-color: map-get($colors, 'dark');
}

// Infinite Scroll Loaders
.select2-results .select2-result.infinite .select2-result-label::after {
	display: none;
}
