html {
	margin: 0 !important;
	padding: 0 !important;
	height: 100% !important;
}
body {
	padding: 0;
	margin: 0 auto;
	background: #f7f7f7;
	height: 100% !important;
}
body > *:not(#alm-preview) {
	display: none;
}
#alm-preview {
	display: grid;
	gap: 20px;
	width: 100%;
	min-height: 100% !important;
}
#alm-preview-intro {
	width: 100%;
	padding: 30px;
	text-align: center;
}
#alm-preview-wrap {
	background: #fff;
	flex: 1;
	padding: 30px 30px 60px;
	border-top: 1px dashed #e1e1e1;
}
#alm-preview .ajax-load-more-wrap {
	margin-bottom: 100px;
}
#alm-preview-intro svg {
	width: 50px;
	height: 50px;
	margin: 0 auto 10px;
}
#alm-preview #alm-preview-intro h1 {
	font-size: 22px !important;
	margin: 0 0 10px !important;
	padding: 0 !important;
	font-weight: 700 !important;
	color: #2f2e38 !important;
}
#alm-preview #alm-preview-intro p {
	font-size: 15px !important;
	line-height: 1.7;
	margin: 15px 0 !important;
	padding: 0 20px !important;
	color: #656376 !important;
}
#alm-preview #alm-preview-intro p svg {
	width: 18px;
	height: 18px;
	margin: 0;
	display: inline-block;
}
#alm-preview #alm-preview-intro pre#alm-pre {
	all: unset;
	word-wrap: break-word !important;
	white-space: pre-wrap !important;
	background: #efe4f1;
	padding: 25px !important;
	font-family: 'Consolas', 'Monaco', 'Courier New', Courier, monospace !important;
	font-size: 12px !important;
	color: #654880 !important;
	line-height: 1.5 !important;
	display: block !important;
	margin: 25px 0 0 !important;
	border-radius: 3px;
}

@media screen and (min-width: 960px) {
	#alm-preview {
		display: flex;
		flex-direction: row;
	}
	#alm-preview-intro {
		padding: 60px;
		max-width: 35%;
		flex: 1;
		position: sticky;
		top: 50px;
	}
	#alm-preview-wrap {
		border: none;
		border-left: 1px dashed #e1e1e1;
		padding: 60px 60px 100px;
	}
}

.alm-results-text {
	display: none;
}
