// Load Previous.
.alm-btn-wrap {
	&--prev {
		display: flex;
		width: 100%;
		justify-content: center;
		clear: both;
		padding: 0;
		margin: 0;
		&::after {
			display: table;
			clear: both;
			height: 0;
			content: '';
		}
		a.alm-load-more-btn--prev {
			line-height: 1;
			font-size: 14px;
			font-weight: 500;
			padding: 5px;
			display: inline-flex;
			align-items: center;
			position: relative;
			margin: 0 0 10px;
			text-decoration: none;
			transition: none;
			min-height: 20px;
			&:hover,
			&:focus {
				text-decoration: underline;
			}
			&::before {
				opacity: 0;
				visibility: hidden;
				display: block;
				content: '';
				position: absolute;
				z-index: 1;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				transition: all 0.075s ease;
				width: 20px;
				height: 20px;
				background: url(get-loader()) no-repeat left center / 20px 20px;
			}
			&.loading,
			&.loading:focus {
				cursor: wait;
				text-decoration: none;
				color: transparent !important;
				&::before {
					opacity: 1;
					visibility: visible;
				}
			}
			&.circle-spinner {
				&.loading {
					&::before {
						background-image: url(get-circle-spinner());
					}
				}
			}
			&.fading-circles {
				&.loading {
					&::before {
						background-image: url(get-fading-circles());
					}
				}
			}
			&.fading-squares {
				&.loading {
					&::before {
						background-image: url(get-fading-circles());
					}
				}
			}
			&.ripples {
				&.loading {
					&::before {
						background-image: url(get-ripples());
					}
				}
			}

			&:not(.disabled),
			button:not([disabled]) {
				cursor: pointer;
			}
			&.done {
				display: none;
			}
		}
	}
}
